/* main.css */
body {
    background-color: lightgrey;
    font-family:'prompt', sans-serif;
}
.header {
    height:100px;
    width:1000px;
    padding-top: 1em;
    overflow-wrap:break-word;
    background-color: beige;
}

.header h1 {
    display:inline;
    position: relative;
    right:0px;
    font-family: 'prompt', sans-serif;
    text-align: left;
    font-size:2.5em;
    font-weight: 700;
    top:30px;
    left:1ex;
}

.movingheader h1{ 
    animation-name: movingheader;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0,0,0,1);
}

.header a {
    text-decoration: none;
    color: black;
}

@keyframes movingheader {
    0% {left: 1000px;}
    100% {left: 1ex;}
}

.nav {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 1000px;
    background-color:dimgrey;
    padding:5px 0px;
}

.navItem {
    display:block;
    background-color: aliceblue; 
    margin-left: 5px;
    padding-top:10px;
    padding-bottom:10px;
    width: 30%;
    max-width:1000px;
    text-align: center;
    font-size:15px;
    font-weight: 400;
    font-family: 'prompt', sans-serif;
    transition: width 100ms ease-in-out;
    color:black;
    text-decoration-line: none;
}

.navItem:hover {
    width: 32%;
    max-width: 1000px;
}
.navLink {
    display:block;
    font-size:15px;
    font-family: 'prompt', sans-serif;
    color:black;
    text-decoration-line: none;
}

.main_content {
    display:flex;
    flex-direction: row;
    background-color:white;
    margin-top:1ex;
    width: 1000px;
}

div h2 {
    font-style: italic;
    font-weight: 500;
    font-size: 2em;
    margin-left: 1em;
}

div .products_content {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    flex-direction: row;
    background-color: white;
}

.filter_content {
    background-color: green;
    width: 300px;
    padding-left: 10px;
    padding-right: 10px;
}

div .product {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: lightgray;
    width: 45%;
    margin: .5em;
    padding: .5em;
}

div .imglist {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width:1000px;
}

.product_text {
    display:none;
    background-color:lightslategray;
}

.img {
    width: 70%;
    max-width:1000px;
    transition: width 2s ease-out;
    position: relative;
}

.subimg {
    width: 30%;
    max-width:1000px;
}

.img:hover {
    width: 90%;
    max-width:1000px;
}

.img img {
    width: 100%;
    max-width:1000px;
}

.subimg img {
    width: 100%;
    max-width:1000px;
}

.notice {
    font-size:1.5ex;
    font-style: italic;
    font-weight: 300;
    font-family: 'prompt', sans-serif;
    color: red;
}

.signFormDiv {
    width:100%;
    max-width:1000px;
    display:flex;
    margin: 1em 0;
    justify-content: center; 
}

.signForm {
    padding:2em;
    width:400px;
    border-radius:10px;
    background-color: #C0C0C0;
    font-weight:300;
}

.textInput {
    font-family:'prompt', sans-serif;
    border-radius:50px;
    border-color:black;
    border-width: 2px;
    width: 90%;
    max-width:1000px;
    font-weight:300;
    height:30px;
    font-size:2ex;
    padding:0 1em;
    color: black;
}

.textInput:focus{
    border-color:orange;
    border-width: 5px;
}
 
label strong {
    font-family: 'prompt', sans-serif;
    font-weight:500;
    font-size:1em;
}

.dateInput {
    border-color:black;
    border-radius:50px;
    border-width: 2px;
    height:30px;
    font-size:2ex;
    color: black;
    font-weight:300;
    padding:0 1em;
    font-family:'prompt', sans-serif;
}
.dateInput:focus{
    border-color:orange;
    border-width: 5px;
}

.intInput {
    border-color:black;
    border-radius:50px;
    border-width: 2px;
    height:30px;
    font-size:2ex;
    color: black;
    padding:0 1em;
    font-family:'prompt', sans-serif;
}
.intInput:focus{
    border-color:orange;
    border-width: 5px;
}

.btn {
    border-radius:50px;
    border: 2px double black;
    font-weight:600;
    font-size:1em;
    padding:0.5em 1em;
}

#signupBtn {
    border-color:green;
    color:#008800;
    float:left;
}
 
#loginBtn {
    border-color:green;
    color:#008800;
    float:left;
}

h6 {
    font-family:'prompt', sans-serif;
    font-size: 1ex;
    font-weight: 200;
}

#cancelBtn {
    border-color:red;
    color:#CC0000;
    float:right;
}

@media screen and (max-width:800px) {
    .header {
        width: 100%;
    }
    .header h1 {
        font-size:1.5em;
        width: 100%;
    }
    .nav {
         flex-direction:column;
         width: 100%;
    }
    .navItem {
        padding: 0px;
        margin: 1px 0px;
        width:100%;
        height: 30px;
        transition-property: none;
    }
    .navItem:hover{
        width:100%;
    }
    #signupForm{
        width:100%;
    }
    .img:hover p {
        font-size: 1ex;
    }
    @keyframes movingheader {
        0% {left: 100%;}
        100% {left: 1ex;}
    }
    .main_content {
        width:100%;
    }
    div .products_content {
        padding: 1ex;
    }
    div .product {
        width: 45%;
        margin-left: 1px;
        margin-right: 1px;
    }
    .product_text {
        font-size: 2ex;
    }
    .img {
        width:100%;
    }
    .subimg {
        display: none;
    }
}
@media screen and (max-width:480px) {
    .header h1 {
        font-size:1.2em;
        top:20%;
    }
    .main_content {
        background-color: lightgray;
    }
    div .products_content {
        background-color: lightgray;
    }
    .img:hover p {
        font-size: 1em;
    }
    div .product {
        width:100%;
        background-color: white;
    }
    @keyframes movingheader {
        0% {left: 100%;}
        100% {left: 1ex;}
    }
}
