.header {
    height:15%;
    width:100%;
    background-color: beige;
}

.nav {
    display: flex;
    flex-direction:row;
}
 
.nav ul li {
    list-style-type: style none;
    color:white;
    background-color: black;
    float:left;
    line-height: 100%;
    vertical-align: middle;
    text-align: center;
}

@media (max-width:800px) {
    .nav { flex-direction:column;}
}